<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="internal" connectionString="Data Source=194.44.93.225;Initial Catalog=master;User id=test;Password=1;Integrated Security=False;"/>-->
    <add name="local" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Demo;Integrated Security=True;"/>
    <!--<add name="external" connectionString="Data Source=10.7.101.197;Initial Catalog=master;User id=test;Password=1;Integrated Security=False;"/>-->
  </connectionStrings>
</configuration>